PORT=3030
RPC_URL=https://testnet-rpc.wkey.app
FAUCET_PRIVATE_KEY=

HCAPTCHA_SECRET=

# Origines autorisées pour CORS (CSV)
ALLOWED_ORIGINS=https://faucet.wkey.app

DRIP_AMOUNT_WTG=100
COOLDOWN_HOURS=24
