PORT=3030
RPC_URL=https://testnet-rpc.wintg.network
FAUCET_PRIVATE_KEY=

HCAPTCHA_SECRET=

# Origines autorisées pour CORS (CSV)
ALLOWED_ORIGINS=https://faucet.wintg.network

DRIP_AMOUNT_WTG=100
COOLDOWN_HOURS=24
